.header{
    background-color: cadetblue;
    text-align: center;
    height: 100px;
    padding-top: 20px;
}

.mid-left{
    float: left;
    background-color: darkcyan;
    width: 300px;
    padding: 30px;
    height: 300px;
}

.mid-right{
    margin-top: 20px;
    margin-left: 20px;
    float: left;
    width: 1300px;  
    
}
.bottom{
    text-align: center;
    background-color: darkgrey;
    float: left;
    width: 100%;
    margin-top: 10px;
}

a{
    text-decoration: none;
    color: black;

}

.margin{
    border: 2px solid gray;
    background-color: gainsboro;
    border-style: dotted;
    text-align: center;
    height:400px ;
    
}
.border{
    background-color: green;
    height: 300px;
    margin: 30px;
    
}
.padding{
    background-color: gainsboro;
    height: 200px;
    margin: 30px;
}
.content{
    border: 2px solid gray;
    background-color: white;
    height: 100px;
    margin: 30px;
    border-style: dotted;
   
}