*{
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-color: rgba(231, 232, 240, 0.973);
}

.flex-header{
    display: flex;
    justify-content: center;    
    height: 100px;
    background-color: rgb(93, 93, 170);
}
.flex-header div {
    width: 100%;
    text-align: center;
    font-size: 25px;
    align-self: center; 
}
.flex-header a{
    color: white;
    text-decoration: none;
}
.flex-menu ul{
    display: flex;
    flex-direction: row;
    height: min-content;
    justify-content: center;  
    
}
.flex-menu li{
    list-style-type: none;
    margin: 10px;
    color:rgb(93, 93, 170);
    text-decoration: none;
    border: 1px solid purple;
    padding: 5px;
}

.flex-content{
    display: flex;
    flex-direction: row;
}

.flex-content div {
    width: 100%;
    
    height: 900px;
}
.flex-content-left{
    order: 2;
}

.f1 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    order: 2;
    
}
.f1 label {
    margin: 10px;
    color: white;
    border: 1px solid white;
    padding: 8px;
    width: 25%;
}

.f2 form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    order: 1;
}

.f2 input {
    margin: 10px;
    border: 1px solid white;
    padding: 9px;
    width: 25%;
    background-color: rgb(74, 74, 90) ;
    color: white;
}

.f2 input:hover{
    border-color:rgb(93, 93, 170);
}

#txarea{
    margin-left: 10px;
    margin-top: 15px;
    width: 25%;
    background-color: rgb(74, 74, 90) ;
    border-color: white;

}

#txarea:hover{
    border-color:rgb(93, 93, 170);
}

.flex-bottom{
    display: flex;
    justify-content: center;    
    
}
.flex-bottom div {
    width: 100%;
    text-align: center;
    background-color: rgb(93, 93, 170);
    height: 50px;
    font-size: 25px;
    align-items: center;  
    position:fixed;
    bottom: 0; 
}

.flex-bottom h6{
    color: white;
}

a{
    text-decoration:none;
}

li a:hover{
    color: blueviolet;
}

::placeholder{
    color: white;
    opacity: 0.5;
}


@media only screen and (max-width: 576px) {

    .col-sm-12 label{
        width: 100%;
        text-align: center;
    }
    .col-sm-12 input{
        width: 100%;
        text-align: center;
    }
    #txarea{
        width: 100%;
        text-align: center;
    }
    .flex-content{
        display: flex;
        flex-direction: column;
    }
   
    .flex-content-left{
       order:  1;
    }
    
   
    .flex-menu ul{
        display: flex;
        flex-direction: column;
    }
    
    
   
    



.col-sm-1 {width: 8.33%;}
.col-sm-2 {width: 16.66%;}
.col-sm-3 {width: 25%;}
.col-sm-4 {width: 33.33%;}
.col-sm-5 {width: 41.66%;}
.col-sm-6 {width: 50%;}
.col-sm-7 {width: 58.33%;}
.col-sm-8 {width: 66.66%;}
.col-sm-9 {width: 75%;}
.col-sm-10 {width: 83.33%;}
.col-sm-11 {width: 91.66%;}
.col-sm-12 {width: 100%;}
}


@media only screen and (min-width: 768px) {
    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%;}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}
    
} 


@media only screen and (min-width: 992px) {
    .col-lg-1 {width: 8.33%;}
    .col-lg-2 {width: 16.66%;}
    .col-lg-3 {width: 25%;}
    .col-lg-4 {width: 33.33%;}
    .col-lg-5 {width: 41.66%;}
    .col-lg-6 {width: 50%;}
    .col-lg-7 {width: 58.33%;}
    .col-lg-8 {width: 66.66%;}
    .col-lg-9 {width: 75%;}
    .col-lg-10 {width: 83.33%;}
    .col-lg-11 {width: 91.66%;}
    .col-lg-12 {width: 100%;}
} 

      