*{
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
}

.header{
    display:flex;
    justify-content: center; 
    height: 100px;
    background-color:rgb(124, 124, 124);
    width: 100%;
}

.header-flex{
    align-self: center; 
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content:center;
    background-color: rgb(0, 174, 255);
}

.menu-flex ul{
    display: flex;
    flex-direction: column;
    height: min-content;  
    align-items: center;
}

.menu-flex li{
    list-style-type: none;
    margin: 10px;
    color: black;
    text-decoration: none;
    padding: 5px;
}

.content-flex{
    display: flex;
    flex-direction: row;
    height: auto;
}

.content-left{
    display: flex;
    flex-direction: column;
    flex-shrink:4;
    background-color: rgb(90, 141, 165);
    padding: 10px;
}

.content-left ul {
    list-style-type: none;
    padding: 10px;
    width: 150px;
}

.content-right{
    display: flex;
    flex-direction: column;
    background-color:rgb(124, 124, 124);
    padding: 10px;
    height: auto;
}

.content-right p {
    margin-top: 10px;
    font-size: 20px;
}

.bottom{
    display:flex;
    justify-content: center; 
    height: 100px;
    background-color: rgb(0, 174, 255);
    width: 100%;
}
.bottom-flex{
    align-self: center; 
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

a:hover{
    color: blue;
}