.header{
    background-color: cadetblue;
    text-align: center;
    height: 100px;
    padding-top: 20px;
}

.mid-left{
    float: left;
    background-color: darkcyan;
    width: 300px;
    padding: 30px;
    height: 300px;
}

.mid-right{
    margin-top: 20px;
    margin-left: 20px;
    float: left;
    width: 1300px;  
}
.bottom{
    text-align: center;
    background-color: darkgrey;
    float: left;
    width: 100%;
    margin-top: 10px;
}

a{
    text-decoration: none;
    color: black;

}

table{
    border: 1px solid grey;
    width: 900px;
    padding: 10px;
    
}
td{
    height: 30px;
}