@font-face{
    font-family: 'Raleway';
    src: url("~/pages/real_web_site/fonts/static/Raleway-Bold.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: 'Raleway';
    src: url("static/Raleway-SemiBold.ttf") format("ttf");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: 'Raleway';
    src: url("static/Raleway-Medium.ttf") format("ttf");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: 'Raleway';
    src: url("static/Raleway-Light.ttf") format("ttf");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}